gitignore
# See https://help.github.com/articles/ignoring-files/ for more about Ignoring files

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/tmp
/out

# misc
.DS_Store
*.env.local
*.env.*.local
.next
.idea
.vs

# IDEs
/.idx